html
	head
		title= title
	body
		button(onclick="clickedButton()") Click me!
		p Number of times clicked :
			span(id="clickedCount") 0
		script(src="https://cdn.socket.io/socket.io-1.4.5.js")
		script.
			var socket = io.connect(location.host, {query: 'room-id=!{roomId}'} );
			socket.on('news', function (data) {
			console.log(data);
			socket.emit('my other event', { my: 'data' });
			if(data.clicked)
			{
				var count = document.getElementById('clickedCount');
			count.textContent = data.clicked;
			}
			});

			function clickedButton(){
			socket.emit('clickEvent', {button: 'clicked'});
			}

